<html>
    <body>

        <a href="/reglink">Register</a>
        
        <a href="/loginlink">Login </a>
        
        <a href="/logoutlink">Logout </a>
        
        <a href="/informationlink">Information </a>

        <a href="/displaylink">Display</a>

        
        </body>
    <head>
        <center>
        <h1>
         
                 Welcome To TakeCare Health Insurance
        </h1>
        <p>
            <h2>Why buy from TakeCare?</h2>
            Get up to 15% Online discount<br>
            30 minutes claim support<br>
            All Covid-19 Treatments covered<br>
            Instant Purchase, No Medicals Required<br>
            Tax Benefits upto ₹ 75,000 under Sec. 80D<br><br>

            <h3>Platinum insurance partner</h3>

            Policybazaar is the largest partner for most Health Insurers and a Platinum partner, which means your policy and claims will be treated on a priority<br>

            <h3>Affordable options</h3>

            We make Health insurance more affordable for you through various monthly payment options and discounts provided by our Partners<br>

            <h3>30 minute claim support</h3>

            Our Claim specialists will reach your hospital or home in 30 minutes to support your health insurance claim<br>

        </p>

       </center>
    </head>
    <style>
body{

    background-image: url(../static/health\ insurance.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}


    </style>




</html>