<html>
    <body>
        <a href="/aboutlink">About Us</a>

        <a href="/reglink">Register</a>
        
        <a href="/loginlink">Login </a>
        
        <a href="/logoutlink">Logout </a>
        
        <a href="/informationlink">Information </a>

        <a href="/displaylink">Display</a>

        
    </body>
    <head>
        <center>
        <h1>Welcome To TakeCare Health Insurance</h1>
        </center>
    </head>
        <h3>Policy Details-With sum assurance 15 Lakhs (Individual/Family/Parents)</h3>
        <p>Other Details: <br>
           Hospital Accomodation: All room type covered including suite and delux<br>
           Modern Treatment Coverage: covered<br>
           Health Checkup: Covered from day 1 of policy<br>
           Maternity Benefit: Available<br>
           eConsultation: Second Medical Opinion available<br>
           Pre and Post Hospitalisation: 90 days pre and 180 days post hospitalisation<br>
           AYUSH: Covered<br>
           Travel Insurance:covered<br>
           Safeguard Features:Coverage for non-payble items
           No claim bonus/ Loyalty Addition:Sum isured increases by 50% for every claim free year;upto 100 % of base sum insured<br>
           

        </p>


      
    <style>
        body{
        
            background-image: url(../static/Health-Insurance-Quotes.webp);
            background-size: cover;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
            </style>
        
        
        
        
        </html>