<html>
    <body>
        <a href="/aboutlink">About Us</a>

        <a href="/reglink">Register</a>
        
        <a href="/loginlink">Login </a>
        
        <a href="/logoutlink">Logout </a>
        
        <a href="/informationlink">Information </a>

        <a href="/displaylink">Display</a>

        
    </body>
    <head>
        <center>
        <h1>Welcome To TakeCare Health Insurance</h1>
        </center>
    </head>
        <h3>Policy Details-With sum assurance 5 Lakhs (Individual/Family/Parents)</h3>
        <p>Other Details: <br>
           Hospital Accomodation: Twin Sharing<br>
           Modern Treatment Coverage: covered<br>
           Health Checkup: Covered from day 1 of policy<br>
           Maternity Benefit: Not available<br>
           eConsultation: Second Medical Opinion available<br>
           Pre and Post Hospitalisation: 60 days pre and 90 days post hospitalisation<br>
           AYUSH: Covered<br>
           Travel Insurance: Not covered<br>

        </p>


      
    <style>
        body{
        
            background-image: url(../static/Health-Insurance-Quotes.webp);
            background-size: cover;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
            </style>
        
        
        
        
        </html>