<form action="/updatelink/{{data[0]}}" method="post">
    Enter Username <input type="text" name="name" value="{{data[1]}}"> <br> <br>
    Enter Password <input type="password" name="password" value="{{data[2]}}"> <br> <br>
    Enter Age  <input type="number" name="Age" value="{{data[3]}}"> <br><br>
    Enter MobileNumber <input type="number" name="MobileNumber" value="{{[4]}}"><br><br>
    Enter email <input type="text" name="email" value="{{data[5]}}"> <br><br>

    <button type="submit"> update</button>
    
    </form>